@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@100;300;400;500;700;900&family=Tajawal:wght@200;300;400;500;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Tajawal', sans-serif;
}

.navbar {
    background-color: #6f2cf4;
}

#span-error {
    margin-top: 4px;
    font-size: 17px;
    background-color: rgb(255, 171, 171);
    color: red;
    border-radius: 4px;
}
#span-error2 {
    margin-top: 4px;
    font-size: 17px;
    background-color: rgb(255, 171, 171);
    color: red;
    border-radius: 4px;
}
#span-error3 {
    margin-top: 4px;
    font-size: 17px;
    background-color: rgb(255, 171, 171);
    color: red;
    border-radius: 4px;
}
#span-success {
    display: none;
    padding-right: 10px;
    padding-left: 10px;
    color: green;
    background-color: rgb(211, 255, 211);
    border-radius: 4px;
}